a  {
  font-family: Prompt;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 23px;


}

hr {
  margin: 0;
}

a:hover {
  background-color: #CFCFCF;
  color: #DD752F !important;
}
