


div > a , span {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  margin: 5px;
  color: #ffffff;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
